#show_project_create, #show_site_create
{
    cursor: pointer;
}

#project_create, #site_create
{
    display: none;
}


/*MINIATURE PROJECT */

.mini_project
{
    background: rgba(255,255,255,0.8);
    padding-left: 10px;
    margin-rigth: 10px;
    margin-left: 10px;
    padding-right: 10px;
    border: 1px #bbbfc3 solid;
    text-align: center;
    border-radius: 3px;
    margin-bottom: 20px;
    cursor: pointer;

    opacity: 1;
    transition: opacity 0.7s;
    -webkit-transition: opacity 0.7s;
}

.mini_project:hover
{
    opacity: 0.6;
    transition: opacity 0.7s;
    -webkit-transition: opacity 0.7s;
}

.mini_project_info
{
    font-size: 0.9em;
    font-weight: bold;
}

.mini_project_description
{
    font-size: 0.8em;
    height: 120px;
    text-align: justify;
    overflow: auto;
}


/* SHOW project */

.delete_col_project, .upgrade_col_project, .downgrade_col_project, .site_mini_close button
{
    font-size: 1.2em;
    cursor: pointer;
    border: 0;
    background: none;
    padding: 0;
    margin: 0;
    position: relative;
    vertical-align: middle;
}

.delete_col_project:hover, .upgrade_col_project:hover, .downgrade_col_project:hover, .site_mini_close button:hover
{
    color: #3097D1;
}


#form_add_collaborator
{
    width: 100%;
}

#div_add_collaborator
{
    margin-top: 10px;
    margin-bottom: 10px;
}

#update_project
{
    float: right;
    font-size: 1.2em;
    cursor: pointer;
}

#update_project:hover
{
    color: #3097D1;
}

#project_update_name
{
    font-size: 30px;
    border: 0;
    outline: none;
    margin-bottom: 5px;
    background: none;
}

#project_update_description
{
    width: 100%;
    resize: none;
    padding: 5px;
    text-align: justify;
    border: 0;
    outline: none;
}

#project_update_submit
{
    display: none;
}

/* Project - site side */

#sites_list .list-group-item
{
    opacity: 0.7;
    transition: opacity 0.7s;
    -webkit-transition: opacity 0.7s;
}

#sites_list .list-group-item:hover
{
    opacity: 1;
    transition: opacity 0.7s;
    -webkit-transition: opacity 0.7s;
}



